<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://MINH-DEV-007/yops_ws</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>MINH-DEV-007</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/yops_ws</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="yeoldephotoshoppeEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=MINH-DEV-007;Initial Catalog=yeoldephotoshoppe;User ID=photoshoppedbo;Password=wabbajack;Application Name=EntityFramework" Name="Data Source=MINH-DEV-007;Initial Catalog=yeoldephotoshoppe;User ID=photoshoppedbo;Password=wabbajack;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="yops_ws.Models.yeoldephotoshoppeEntities, yops_ws" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)yeoldephotoshoppeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.YOPSModel.csdl|res://*/Models.YOPSModel.ssdl|res://*/Models.YOPSModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=MINH-DEV-007;Initial Catalog=yeoldephotoshoppe;User ID=photoshoppedbo;Password=wabbajack;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>